@import url(/css/resetstyle.css);
@import url(/css/fonts.css);

* {
  font-family: 'Lab Grotesque';
  font-style: normal;
}
body {
  background-color: #191918;
}

.wrapper {
  max-width: 1196px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
  .logo {
    display: flex;
    align-items: center;
    &__title {
      font-family: 'Scania Sans CY Headline';
      font-weight: 400;
      font-size: 20px;
      line-height: 70px;
      letter-spacing: 0.105em;
      color: #ffffff;
      text-transform: uppercase;
    }
    &__desc {
      margin-left: 39px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: #6d6d6d;
    }
  }
  .nav {
    display: flex;
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin: 0 21px 0 21px;
      a {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #949494;
      }
      a.active {
        color: #ffcf7a;
      }
    }
    &__call {
      margin: 10px 0 0 40px;
      width: 50px;
      height: 50px;
      background: linear-gradient(
        45deg,
        #fea96c 20%,
        #feb97a 45%,
        #ffce94 85%,
        #ffddab 100%
      );
      border-radius: 2px;
    }
  }
}

.product {
  position: relative;
  margin-top: 98px;
  &__title {
    font-weight: 250;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(
      200deg,
      #ffffff 59.37%,
      rgba(255, 255, 255, 0) 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &__price {
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #ffcf7a;
    margin-top: 29px;
    span {
      letter-spacing: 0.05em;
      margin-left: 5px;
      font-size: 36px;
    }
  }
  &__property {
    display: flex;
    margin-top: 86px;
  }
  .fabric {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      width: 30px;
      height: 30px;
    }
    &__text {
      margin-top: 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
    }
  }
  &__delivery {
  }
  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    &__img {
      width: 30px;
      height: 30px;
    }
    &__text {
      margin-top: 20px;
      font-family: 'Lab Grotesque';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
    }
  }
  &__photo {
    position: absolute;
    top: 0px;
    left: 510px;
    &_shadow {
      position: absolute;
      top: 50px;
      left: 710px;
      width: 390px;
      height: 110px;
      border-radius: 500px;
      transform: rotate(161.87deg);
      background: #a74e02;
      filter: blur(100px);
      z-index: -1;
    }
  }
}
