@import url(/css/resetstyle.css);
@import url(/css/fonts.css);
* {
  font-family: "Lab Grotesque";
  font-style: normal;
}

body {
  background-color: #191918;
}

.wrapper {
  max-width: 1196px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo__title {
  font-family: "Scania Sans CY Headline";
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  letter-spacing: 0.105em;
  color: #ffffff;
  text-transform: uppercase;
}
.header .logo__desc {
  margin-left: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #6d6d6d;
}
.header .nav {
  display: flex;
}
.header .nav__list {
  display: flex;
  align-items: center;
}
.header .nav__item {
  margin: 0 21px 0 21px;
}
.header .nav__item a {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #949494;
}
.header .nav__item a.active {
  color: #ffcf7a;
}
.header .nav__call {
  margin: 10px 0 0 40px;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #fea96c 20%, #feb97a 45%, #ffce94 85%, #ffddab 100%);
  border-radius: 2px;
}

.product {
  position: relative;
  margin-top: 98px;
}
.product__title {
  font-weight: 250;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(200deg, #ffffff 59.37%, rgba(255, 255, 255, 0) 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.product__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #ffcf7a;
  margin-top: 29px;
}
.product__price span {
  letter-spacing: 0.05em;
  margin-left: 5px;
  font-size: 36px;
}
.product__property {
  display: flex;
  margin-top: 86px;
}
.product .quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .quality__img {
  width: 30px;
  height: 30px;
}
.product .quality__text {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.product .delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}
.product .delivery__img {
  width: 30px;
  height: 30px;
}
.product .delivery__text {
  margin-top: 20px;
  margin-bottom: 242px;
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.product__photo {
  position: absolute;
  top: 0px;
  left: 510px;
}
.product__photo_shadow {
  position: absolute;
  top: 50px;
  left: 710px;
  width: 390px;
  height: 110px;
  border-radius: 500px;
  transform: rotate(161.87deg);
  background: #a74e02;
  filter: blur(100px);
  z-index: -1;
}

.technology__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(240.22deg, #ffffff 31.8%, rgba(255, 255, 255, 0) 87.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.technology__desc {
  margin-top: 21px;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.technology__background {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}
.technology__background_light1 {
  z-index: -2;
  position: absolute;
  width: 156px;
  height: 96px;
  left: 320px;
  top: 208px;
  background: rgba(255, 155, 82, 0.71);
  filter: blur(50px);
  border-radius: 300px;
}
.technology__background_light2 {
  z-index: -2;
  position: absolute;
  width: 156px;
  height: 96px;
  left: 620px;
  top: 208px;
  background: rgba(238, 214, 214, 0.22);
  filter: blur(75px);
  border-radius: 300px;
}
.technology__background_light3 {
  z-index: -2;
  position: absolute;
  width: 214px;
  height: 132px;
  left: 540px;
  top: 180px;
  background: rgba(255, 207, 122, 0.72);
  filter: blur(75px);
  border-radius: 300px;
}
.technology__background_light4 {
  z-index: -2;
  position: absolute;
  width: 354.97px;
  height: 349.26px;
  left: 419px;
  top: -79px;
  background: rgba(245, 157, 93, 0.45);
  filter: blur(125px);
  border-radius: 300px;
  transform: rotate(135deg);
}
.technology__background_light5 {
  z-index: -2;
  position: absolute;
  width: 508px;
  height: 499.83px;
  left: 102px;
  top: 67px;
  background: rgba(255, 209, 128, 0.23);
  filter: blur(125px);
  border-radius: 300px;
  transform: rotate(135deg);
}
.technology__background_light6 {
  z-index: -2;
  position: absolute;
  width: 508px;
  height: 339px;
  left: 347px;
  top: -14px;
  background: rgba(255, 209, 128, 0.23);
  filter: blur(75px);
  border-radius: 300px;
}
.technology__background_light7 {
  position: absolute;
  width: 826px;
  height: 551px;
  left: 211px;
  top: -151px;
  background: #392924;
  filter: blur(150px);
  border-radius: 300px;
  z-index: -3;
}
.technology .feature__list {
  display: flex;
  justify-content: space-around;
}
.technology .feature__item {
  position: relative;
  display: flex;
  align-items: center;
}
.technology .feature__img_little {
  top: -5px;
  left: 25px;
  position: absolute;
}
.technology .feature__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 34px;
}

.refuel {
  position: relative;
  margin-top: 224px;
}
.refuel__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(200.62deg, #ffffff 78.79%, rgba(255, 255, 255, 0) 98.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 24px;
  margin-left: 100px;
}
.refuel__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 125px;
  margin-left: 100px;
}
.refuel .instr {
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.refuel .instr__power {
  position: relative;
  margin-left: 69px;
  margin-bottom: 19px;
}
.refuel .instr__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 170px;
}
.refuel .instr__text::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 41px;
  width: 30px;
  height: 1px;
  background-color: white;
}
.refuel__show {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}
.refuel__show_light1 {
  position: absolute;
  width: 269.65px;
  height: 385.66px;
  left: -468px;
  top: 18px;
  background: rgba(201, 115, 53, 0.45);
  filter: blur(75px);
  border-radius: 300px;
  transform: matrix(0.31, -0.95, -0.95, -0.31, 0, 0);
}
.refuel__show_light2 {
  position: absolute;
  width: 163.39px;
  height: 198.72px;
  left: -284px;
  top: 35px;
  background: rgba(255, 207, 122, 0.72);
  filter: blur(75px);
  border-radius: 300px;
  transform: matrix(-0.94, 0.35, 0.35, 0.94, 0, 0);
}
.refuel__show_light3 {
  position: absolute;
  width: 335.98px;
  height: 420.04px;
  left: -316px;
  top: -101px;
  background: rgba(175, 152, 112, 0.34);
  filter: blur(75px);
  border-radius: 300px;
  transform: matrix(0.92, 0.39, 0.39, -0.92, 0, 0);
}
.refuel__show_light4 {
  position: absolute;
  width: 473px;
  height: 800px;
  left: -1368px;
  top: -270px;
  background: #000000;
  filter: blur(250px);
  border-radius: 300px;
  transform: rotate(77deg);
  z-index: -3;
}
.refuel__photo {
  position: absolute;
  top: -215px;
  right: -127px;
}
.refuel__time {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  background: radial-gradient(100% 65.98% at 100% 73.18%, #ffffff 0.31%, #ffe2a4 59.23%, #ffd47c 100%);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -243px;
  top: 46px;
  z-index: 1;
}
.refuel__time_bigtext {
  font-family: "Scania Sans CY";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  margin-top: 40px;
}
.refuel__time_bigtext span {
  font-size: 16px;
}
.refuel__time_smalltext {
  font-family: "Scania Sans CY";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  margin-top: -8px;
}
.refuel__circle1 {
  position: absolute;
  width: 98px;
  height: 98px;
  left: -513px;
  top: 217px;
  background-color: unset;
  border: 1px solid #ffcf7a;
  border-radius: 50%;
}
.refuel__circle2 {
  position: absolute;
  width: 194px;
  height: 194px;
  left: -436px;
  top: 261px;
  border: 2px solid #ffcf7a;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 35px #ffe2a4);
}

.smart__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(247.29deg, #ffffff 35.25%, rgba(255, 255, 255, 0) 104.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 32px;
}
.smart__desc {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  z-index: 100;
}
.smart__background {
  position: relative;
  top: -85px;
  box-shadow: inset 0px 0px 80px 81px #191918;
  width: 1306px;
  height: 600px;
  margin: 0 auto;
}
.smart__content {
  position: relative;
  z-index: -1;
}
.smart__console1 {
  position: absolute;
  top: 354px;
  left: 247px;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  color: #464239;
}
.smart__console2 {
  position: absolute;
  top: 354px;
  right: 210px;
  font-weight: 600;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  color: #464239;
}

.sliders-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sliders-block .fuel {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 50%;
}
.sliders-block .fuel__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 25px;
}
.sliders-block .fuel__photo {
  position: relative;
}
.sliders-block .fuel__photo_desc {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  padding-bottom: 8px;
  margin-bottom: 19px;
  border-bottom: 1px solid rgba(255, 207, 122, 0.72);
}
.sliders-block .fuel__photo_span {
  position: absolute;
  width: 58.25px;
  height: 1px;
  top: 59px;
  left: 439px;
  background-color: rgba(255, 207, 122, 0.72);
  transform: rotate(55.49deg);
}
.sliders-block .complectation {
  margin: 20px 0 80px 0;
}
.sliders-block .complectation__column {
  display: flex;
}
.sliders-block .complectation__column-first {
  margin-right: 120px;
}
.sliders-block .complectation__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.sliders-block .complectation__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
.sliders-block .slider__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}
.sliders-block .slider__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 50px;
}
.sliders-block .slider__img {
  position: relative;
  width: 537px;
  height: 346px;
  background-color: #121212;
  border-radius: 2px;
}
.sliders-block .slider__img_next {
  position: absolute;
  bottom: 45px;
  left: 78px;
}
.sliders-block .slider__img_prev {
  position: absolute;
  bottom: 45px;
  left: 44px;
  transform: rotate(180deg);
}

.catalog {
  text-align: center;
  margin: 106px 0 130px 0;
}
.catalog__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 35px 0;
}
.catalog__btn {
  overflow: hidden;
  position: relative;
  width: 284px;
  height: 60px;
  background-color: #eccf94;
  border-radius: 1px;
  z-index: 0;
}
.catalog__text {
  font-weight: 500;
  line-height: 30px;
  z-index: 100;
  font-size: 18px;
}
.catalog__light1 {
  position: absolute;
  width: 184px;
  height: 124px;
  left: -17px;
  top: 19px;
  background: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
  filter: blur(25px);
  z-index: -1;
}
.catalog__light2 {
  position: absolute;
  width: 184px;
  height: 124px;
  right: -18px;
  top: -83px;
  background: linear-gradient(270.21deg, rgba(255, 217, 196, 0.8) 18.08%, rgba(255, 255, 255, 0.8) 68.72%);
  filter: blur(25px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}

.title-photo {
  margin: 90px 0 90px 0;
}
.title-photo__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(249.07deg, #ffffff 36.17%, rgba(255, 255, 255, 0) 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 45px;
}
.title-photo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-photo__item {
  width: 370px;
  height: 267px;
  overflow: hidden;
  background: #121212;
  border-radius: 2px;
}
.title-photo__content {
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */